.purple {
  background-color: rgb(68, 37, 107);
}

.logo {
  margin-left: 10px;
}

.dashboard-background {
  background-color: rgb(139, 107, 180);
}

@font-face {
  font-family: 'Brasileirinha';
  src: url('assets/brasileirinha.ttf');
}

.keep-fit-logo h1 {
  color: white;
  font-family: 'Brasileirinha';
  font-size: 120px;
}

.sign-in-button {
  right: 18px;
  position: absolute;
  top: 18px;
  color: white;
  background-color: purple;
}

.keep-fit-splash-columns {
  color: rgb(68, 37, 107);
  text-align: center;
}

.call-to-action {
  margin-top: 100px;
}

.call-to-action h3 {
  /*font-size: 60px;*/
}

.call-to-action h2 {
  color: white;
  font-weight: bold;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.call-to-action button {
  margin: 42px;
  background-color: purple;
}

.glyphicon {
  font-size: 100px;
  color: white;
  padding: 40px;
}

.panel-footer {
  background-color: rgb(213, 199, 238);
}

.panel-default>.panel-heading {
  background-color: rgb(213, 199, 238);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}

.navbutton-right {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.navbar .navbar-right {
  position: absolute;
  display: block;
  padding: 0px 5px 0px 5px;
  border-radius: 3px;
  right: 0px;
  bottom: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(139, 107, 180);
}

.profile-img {
  float: left;
  display: block;
  max-width: 160px;
  max-height: 160px;
  width: auto;
  height: auto;
}

.add-workout {
  cursor: pointer;
  display: block;
  background-color: rgb(68, 37, 107);
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
}

.workout {
  margin: 2px;
  padding: 4px;
  border: 1px dashed rgb(68, 37, 107);
  border-radius: 3px;
}

.signup-form {
  background-color: rgb(249, 249, 249);
  padding: 15px;
  border: 2px solid rgb(68, 37, 107);
  border-radius: 10px;
  box-shadow: 4px 4px 5px grey;
}

.fat-width {
  width: 100%;
}
.thin-width {
  width: 3em;
}

.margin-top-10 {
  margin-top: 10px;
}

td {
  padding: 3px;
}

table {
  width: 100%;
}

.plus-btn {
  padding: 1px 1px 2px 2px;
  cursor: pointer;
  display: inline;
  background-color: white;
  color: rgb(68, 37, 107);
  border: 2px solid rgb(68, 37, 107);
  border-radius: 2px;
}

.setDisplay:nth-child(even) {
  background-color: rgb(213, 199, 238);
}


hr {
  border-color: rgb(213, 199, 238);
}

h4 {
  color: rgb(68, 37, 107);
}

#runningRoute {
  margin-top: 5%;
  height: 500px;
}
